name: Call Reusable Docker Build and Push

on:
  push:
    branches:
      - main

jobs:
  build_and_push_go_app:
    uses: nushankodikara/reusable-workflows/.github/workflows/docker-publish.yaml@main
    with:
      docker_image_and_tag: nushankodi/dokeep-application:latest
      docker_username: nushankodi
      context: .
      dockerfile: ./Dockerfile
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}

  build_and_push_py_service:
    uses: nushankodikara/reusable-workflows/.github/workflows/docker-publish.yaml@main
    with:
      docker_image_and_tag: nushankodi/dokeep-service:latest
      docker_username: nushankodi
      context: ./py-service
      dockerfile: ./py-service/Dockerfile
    secrets:
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }} 