name: Docker Build and Push

on:
  push:
    branches:
      - main

jobs:
  build_and_push_go_app:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: nushankodi
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Go app
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: nushankodi/dokeep-application:latest

  build_and_push_py_service:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: nushankodi
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Python service
        uses: docker/build-push-action@v3
        with:
          context: ./py-service
          file: ./py-service/Dockerfile
          push: true
          tags: nushankodi/dokeep-service:latest 